* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/* Nav Section styles */
.navbar {
  display: flex;
  justify-content: space-between;
}
.logo {
  padding: 26px 90px;
  width: 206px;
  height: 102px;
}
.nav-items {
  list-style: none;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}
.nav-item {
  display: inline-block;
  padding: 63px 57px;
}

/* Hero Section Styles */
.hero-section {
  background-image: url("../assets/hero-image.png");
  background-repeat: no-repeat;
  max-width: 100%;
  text-align: center;
}
.hero-small-title {
  color: #f6f6f6;
  padding-top: 73px;
  padding-bottom: 17px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.1px;
}
.hero-large-heading {
  font-family: "Poppins", sans-serif;
  font-size: 58px;
  font-weight: 700;
  color: #ffffff;
  line-height: 80px;
  letter-spacing: 0.2px;
}
.hero-desc {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #f6f6f6;
  margin: 27px auto;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.2px;
}
.playstore-button {
  padding: 16px 58.5px;
  background-color: #fa4a0c;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  border-radius: 30px;
  border: none;
  margin-top: 27px;
  margin-bottom: 162px;
  margin-left: 25px;
}
.appstore-button {
  padding: 16px 58.5px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  font-weight: 700;
  font-size: 24px;
  border-radius: 30px;
  margin-left: 25px;

  margin-top: 27px;
  margin-bottom: 162px;
  display: inline-block;
}

/* Feature Section Start */
.feature-section {
  text-align: center;
}
.feature-image-1 {
  /* position: relative; */
  z-index: 10;
  margin-top: -280px;
}
.feature-image-2 {
  /* position: relative; */
  z-index: 10;
  margin-top: -500px;
}
.line {
  width: 884px;
  margin: 36px auto;
  color: #e4e4e4;
}

/* Create Account Section */
.create {
  text-align: center;
}
.app-works-header {
  margin-top: 36px;
  margin-bottom: 59px;
  color: #000000;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 44px;
  line-height: 36px;
  opacity: 80%;
}
.create {
  margin: 0 200px;
}
.create-account {
  display: flex;
  margin: auto;
}
.login-image {
  margin-left: -100px;
}
.create-account-content {
  text-align: left;
  margin-left: -100px;
}
.create-account-content > h3 {
  font-family: "Montserrat", sans-serif;
  color: #fa4a0c;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.1px;
  margin-top: 233px;
  margin-bottom: 17px;
  font-weight: bold;
}

.create-account-content h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252b42;
}
.create-account-content h4 {
  font-family: "Montserrat", sans-serif;
  color: #737373;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.2px;
}
/* Explore Section Start */
.explore {
  margin: 0 200px;
  display: flex;
  margin: auto;
}

.explore-content {
  text-align: left;
  margin-left: 254px;
}
.explore-content > h3 {
  font-family: "Montserrat", sans-serif;
  color: #fa4a0c;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.1px;
  margin-top: 238px;
  margin-bottom: 17px;
  font-weight: bold;
}

.explore-content h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252b42;
}
.explore-content h4 {
  font-family: "Montserrat", sans-serif;
  color: #737373;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.2px;
}
.explore-image {
}

/* Checkout Section Styles */

.checkout {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.checkout-image {
  margin-left: 150px;
}
.checkout-content {
  text-align: left;
  margin-left: -100px;
}
.checkout-content > h3 {
  font-family: "Montserrat", sans-serif;
  color: #fa4a0c;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.1px;
  margin-bottom: 17px;
  font-weight: bold;
}

.checkout-content h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252b42;
}
.checkout-content h4 {
  font-family: "Montserrat", sans-serif;
  color: #737373;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.2px;
}
/* Download App Section */
.download-app {
  background-image: url("../assets/download-app.png");
  padding-top: 150px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.download-app h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  color: #ffffff;
  letter-spacing: 0.2px;
}
.download-app h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 78px;
  letter-spacing: 0.2px;
}
